<div >
    <div class="large-12 columns">
        <center><img src="logo.png" alt="Course Logo"></center>
        <div>{{outlet 'main'}}</div>
        <div>{{outlet 'buySell'}}</div>
        <div>{{outlet 'placeBidOrder'}}</div>
        <div>{{outlet 'placeSellOrder'}} </div>
    </div>
</div>