<!--Market By Price-->
<div class="medium-5 columns">
    <div>
        <p style="text-align: center;"> {{companyName}}<p>
        <table  id="market-by-order" width="100%" >
            <thead align="left" valign="middle">
            <tr >
                <th style = "text-align: center;" colspan="3" >Buy</th>
                <th style = "text-align: center;" colspan="3" >Sell</th>
            </tr>
            <tr>
                <th>#</th>
                <th>Volume</th>
                <th>Price</th>
                <th>Price</th>
                <th>Volume</th>
                <th>#</th>
            </tr>
            </thead>
        </table>
        <div class='market-table' margin-top="0px">
            <table width="100%">
                <tbody style = "text-align: center;">
                    {{#each buyOrder in buyOrders}}
                        <tr>
                            <td>{{numberBuyOrders}}</td>
                            <td>{{buyOrder.volume}}</td>
                            <td>{{buyOrder.price}}</td>
                            <td> </td>
                            <td> </td>
                            <td></td>
                        </tr>
                    {{/each}}
                </tbody>
            </table>
        </div>
        </table>
    </div>
</div>