<div class="panel clearfix">
    <div class="large-12 columns">
        <div class="medium-5 columns" >
            <div align="center">
                <h5><strong>Market By Order</strong></h5>
            </div>
        </div>
        <div class="medium-5 columns">
            <div align="center" >
                <h5><strong>Market By Price</strong></h5>
            </div>
        </div>
        <div class="medium-2 columns">
            <div align="center">
                <h5><strong>Symbol</strong></h5>
            </div>
        </div>
    </div>
    <div class="large-12 columns" >
        <div>{{outlet 'marketByOrder'}}</div>
        <div>{{outlet 'marketByPrice'}}</div>
        <div>{{outlet 'symbol'}}</div>
    </div>
</div>