<!--Symbol-->
<div class="medium-2 columns">
    <div class="panel ">
        <div class="overlay-container" width="100%">
            <img {{bind-attr src="logoUrl"}} alt="Logo">
        </div>
    </div>
</div>